# Node
node_modules/
dist/
coverage/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/

# optional
app/node_modules/
app/dist/
